
.btn-user {
    width: 50px;
    padding: 2px;
    margin: 3px;
    float: right;
}


.name_menu {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

